In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Energy_consumption.csv")
df.head(5)

,Timestamp,Temperature,Humidity,SquareFootage,Occupancy,HVACUsage,LightingUsage,RenewableEnergy,DayOfWeek,Holiday,EnergyConsumption
0,2022-01-01 00:00:00,25.139433,43.431581,1565.693999,5,On,Off,2.774699,Monday,No,75.364373
1,2022-01-01 01:00:00,27.731651,54.225919,1411.064918,1,On,On,21.831384,Saturday,No,83.401855
2,2022-01-01 02:00:00,28.704277,58.907658,1755.715009,2,Off,Off,6.764672,Sunday,No,78.270888
3,2022-01-01 03:00:00,20.080469,50.371637,1452.316318,1,Off,On,8.623447,Wednesday,No,56.519850
4,2022-01-01 04:00:00,23.097359,51.401421,1094.130359,9,On,Off,3.071969,Friday,No,70.811732

In [4]:
df.isnull().sum()

Timestamp            0
Temperature          0
Humidity             0
SquareFootage        0
Occupancy            0
HVACUsage            0
LightingUsage        0
RenewableEnergy      0
DayOfWeek            0
Holiday              0
EnergyConsumption    0
dtype: int64

In [5]:
bool_col = ["HVACUsage", "LightingUsage", "Holiday"]
df[bool_col] = df[bool_col].replace({"Yes": 1,"No":0, "Off": 0, "On": 1} )
df.head()

C:\Users\Shubha\AppData\Local\Temp\ipykernel_3352\650182505.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[bool_col] = df[bool_col].replace({"Yes": 1,"No":0, "Off": 0, "On": 1} )

,Timestamp,Temperature,Humidity,SquareFootage,Occupancy,HVACUsage,LightingUsage,RenewableEnergy,DayOfWeek,Holiday,EnergyConsumption
0,2022-01-01 00:00:00,25.139433,43.431581,1565.693999,5,1,0,2.774699,Monday,0,75.364373
1,2022-01-01 01:00:00,27.731651,54.225919,1411.064918,1,1,1,21.831384,Saturday,0,83.401855
2,2022-01-01 02:00:00,28.704277,58.907658,1755.715009,2,0,0,6.764672,Sunday,0,78.270888
3,2022-01-01 03:00:00,20.080469,50.371637,1452.316318,1,0,1,8.623447,Wednesday,0,56.519850
4,2022-01-01 04:00:00,23.097359,51.401421,1094.130359,9,1,0,3.071969,Friday,0,70.811732

In [6]:
df=pd.get_dummies(df, columns=["DayOfWeek"], drop_first=True)
df.head(10)

,Timestamp,Temperature,Humidity,SquareFootage,Occupancy,HVACUsage,LightingUsage,RenewableEnergy,Holiday,EnergyConsumption,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday
0,2022-01-01 00:00:00,25.139433,43.431581,1565.693999,5,1,0,2.774699,0,75.364373,True,False,False,False,False,False
1,2022-01-01 01:00:00,27.731651,54.225919,1411.064918,1,1,1,21.831384,0,83.401855,False,True,False,False,False,False
2,2022-01-01 02:00:00,28.704277,58.907658,1755.715009,2,0,0,6.764672,0,78.270888,False,False,True,False,False,False
3,2022-01-01 03:00:00,20.080469,50.371637,1452.316318,1,0,1,8.623447,0,56.519850,False,False,False,False,False,True
4,2022-01-01 04:00:00,23.097359,51.401421,1094.130359,9,1,0,3.071969,0,70.811732,False,False,False,False,False,False
5,2022-01-01 05:00:00,29.576037,36.824263,1871.709180,6,0,0,17.626690,1,84.321885,False,False,True,False,False,False
6,2022-01-01 06:00:00,25.131167,35.709622,1607.001228,6,1,0,24.264702,1,76.165791,False,False,False,False,False,False
7,2022-01-01 07:00:00,23.182844,31.679920,1633.955330,8,0,0,27.517099,1,74.131906,False,False,False,True,False,False
8,2022-01-01 08:00:00,25.391999,46.399364,1240.309224,6,1,0,2.307595,0,78.206236,False,False,True,False,False,False
9,2022-01-01 09:00:00,22.212549,32.418464,1705.420336,1,1,0,29.140071,0,77.992214,False,False,False,False,True,False

In [7]:
print(df.columns)

Index(['Timestamp', 'Temperature', 'Humidity', 'SquareFootage', 'Occupancy',
       'HVACUsage', 'LightingUsage', 'RenewableEnergy', 'Holiday',
       'EnergyConsumption', 'DayOfWeek_Monday', 'DayOfWeek_Saturday',
       'DayOfWeek_Sunday', 'DayOfWeek_Thursday', 'DayOfWeek_Tuesday',
       'DayOfWeek_Wednesday'],
      dtype='object')

In [8]:
bool_cols = [
    "DayOfWeek_Monday",
    "DayOfWeek_Tuesday",
    "DayOfWeek_Wednesday",
    "DayOfWeek_Thursday",  # fixed
    "DayOfWeek_Saturday",
    "DayOfWeek_Sunday"
]
df[bool_cols]=df[bool_cols].astype(int)
df.head()

,Timestamp,Temperature,Humidity,SquareFootage,Occupancy,HVACUsage,LightingUsage,RenewableEnergy,Holiday,EnergyConsumption,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday
0,2022-01-01 00:00:00,25.139433,43.431581,1565.693999,5,1,0,2.774699,0,75.364373,1,0,0,0,0,0
1,2022-01-01 01:00:00,27.731651,54.225919,1411.064918,1,1,1,21.831384,0,83.401855,0,1,0,0,0,0
2,2022-01-01 02:00:00,28.704277,58.907658,1755.715009,2,0,0,6.764672,0,78.270888,0,0,1,0,0,0
3,2022-01-01 03:00:00,20.080469,50.371637,1452.316318,1,0,1,8.623447,0,56.519850,0,0,0,0,0,1
4,2022-01-01 04:00:00,23.097359,51.401421,1094.130359,9,1,0,3.071969,0,70.811732,0,0,0,0,0,0

In [9]:
df["Timestamp"] = pd.to_datetime(df["Timestamp"])

In [10]:
df["hour"] = df["Timestamp"].dt.hour
df["day"] = df["Timestamp"].dt.day
df["month"] = df["Timestamp"].dt.month
df["dayofweek"] = df["Timestamp"].dt.dayofweek

In [11]:
import numpy as np

df["hour_sin"] = np.sin(2 * np.pi * df["hour"] / 24)
df["hour_cos"] = np.cos(2 * np.pi * df["hour"] / 24)

df["dow_sin"] = np.sin(2 * np.pi * df["dayofweek"] / 7)
df["dow_cos"] = np.cos(2 * np.pi * df["dayofweek"] / 7)

In [16]:
print(df.columns)

df.head(2)

Index(['Timestamp', 'Temperature', 'Humidity', 'SquareFootage', 'Occupancy',
       'HVACUsage', 'LightingUsage', 'RenewableEnergy', 'Holiday',
       'EnergyConsumption', 'DayOfWeek_Monday', 'DayOfWeek_Saturday',
       'DayOfWeek_Sunday', 'DayOfWeek_Thursday', 'DayOfWeek_Tuesday',
       'DayOfWeek_Wednesday', 'hour', 'day', 'month', 'dayofweek', 'hour_sin',
       'hour_cos', 'dow_sin', 'dow_cos'],
      dtype='object')

,Timestamp,Temperature,Humidity,SquareFootage,Occupancy,HVACUsage,LightingUsage,RenewableEnergy,Holiday,EnergyConsumption,...,DayOfWeek_Tuesday,DayOfWeek_Wednesday,hour,day,month,dayofweek,hour_sin,hour_cos,dow_sin,dow_cos
0,2022-01-01 00:00:00,25.139433,43.431581,1565.693999,5,1,0,2.774699,0,75.364373,...,0,0,0,1,1,5,0.000000,1.000000,-0.974928,-0.222521
1,2022-01-01 01:00:00,27.731651,54.225919,1411.064918,1,1,1,21.831384,0,83.401855,...,0,0,1,1,1,5,0.258819,0.965926,-0.974928,-0.222521

In [13]:
X=df.drop('EnergyConsumption',axis=1)#axis = 1 to acces the cols
y=df['EnergyConsumption']

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
lr=LinearRegression()
df=df.drop
lr.fit(X_train,y_train)

DTypePromotionError: The DType <class 'numpy.dtypes.DateTime64DType'> could not be promoted by <class 'numpy.dtypes.Float64DType'>. This means that no common DType exists for the given inputs. For example they cannot be stored in a single array unless the dtype is `object`. The full list of DTypes is: (<class 'numpy.dtypes.DateTime64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int32DType'>, <class 'numpy.dtypes.Int32DType'>, <class 'numpy.dtypes.Int32DType'>, <class 'numpy.dtypes.Int32DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>)

In [31]:
y_pred=lr.predict(X_test)

In [32]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("MSE:", mse)
print("R2:", r2)

MSE: 26.57247140067523
R2: 0.5943126428431371

In [33]:
coeffs = pd.Series(lr.coef_, index=X.columns)
coeffs.sort_values()

dow_sin               -0.236778
DayOfWeek_Wednesday   -0.147763
DayOfWeek_Sunday      -0.057423
DayOfWeek_Tuesday     -0.047569
Humidity              -0.036901
SquareFootage         -0.000408
day                    0.016377
dayofweek              0.022018
DayOfWeek_Monday       0.075203
RenewableEnergy        0.092520
hour_sin               0.209153
dow_cos                0.231220
hour_cos               0.282956
DayOfWeek_Thursday     0.369029
DayOfWeek_Saturday     0.396061
Occupancy              0.508289
Holiday                0.511247
month                  0.835089
LightingUsage          1.662336
Temperature            1.997203
HVACUsage              4.481329
dtype: float64

In [1]:
import numpy as np

temperature = 30
humidity = 60
square_footage = 1200
occupancy = 4
hvac = 1
lighting = 1
renewable = 2.5
holiday = 0

dow = "monday"
day = 15
month = 6
hour = 10

hour_sin = np.sin(2 * np.pi * hour / 24)
hour_cos = np.cos(2 * np.pi * hour / 24)

dow_index = ["monday","tuesday","wednesday","thursday","friday","saturday","sunday"].index(dow)
dow_sin = np.sin(2 * np.pi * dow_index / 7)
dow_cos = np.cos(2 * np.pi * dow_index / 7)

user_input = [[
    temperature, humidity, square_footage, occupancy,
    hvac, lighting, renewable, holiday,
    1, 0, 0, 0, 0, 0,   # Monday
    day, month,
    hour_sin, hour_cos, dow_sin, dow_cos
]]

predicted_energy = model.predict(user_input)
print(f"Predicted Energy Consumption: {predicted_energy[0]:.2f} kWh")

ModuleNotFoundError: No module named 'numpy'